/* banner */
.banner {
    background: var(--azul-gradiente);
    text-align: center;
    padding: 2rem 1.5rem;
    color: var(--branco-principal);
}

.banner__titulo {
    font-size: 1.125rem;
    font-weight: 700;
}

.banner__texto {
    line-height: 1.5rem;
    font-weight: 500;
    margin: 1.5rem 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 1.5rem;
    color: var(--branco-principal);
    width: 100%;
    padding: 1rem;
}

.banner__pesquisa::placeholder {
    font-family: var(--font-principal);
    font-size: 0.8750rem;
    font-weight: 400;
    color: var(--branco-principal);
    text-align: center;
    background: url(../assets/Lupa.svg) no-repeat;
    background-position: 2rem;
}

@media screen and (min-width: 1024px) {

    .banner {
        padding: 5.25rem 0;
    }

    .banner__titulo {
        font-size: 2.25rem;
    }

    .banner__texto {
        margin: 0.5rem 0 1.63rem 0;
    }

    .banner__pesquisa {
        width: 50%;
        padding: 1rem;
    }

    .banner__pesquisa::placeholder {
        background-position: 6rem;
    }
}

@media screen and (min-width: 1728px) {

    .banner__pesquisa {
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        background-position: 8.5rem;
    }

}